<section class="success ng-scope" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de nosotros</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Somos un servicio de publicación de ofertas y promociones para todas las tiendas ubicadas dentro de plazas comerciales</p>
      </div>
      <div class="col-lg-4">
        <p>Nuestro servicio puedes llegar a más clientes que se encuentren visitando el centro comercial en el que se encuentren.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="http://104.236.25.160/#" class="btn btn-lg btn-outline">
          <i class="fa fa-info-circle"></i> ¿Quieres saber más?
        </a>
      </div>
    </div>
  </div>
</section>
