<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de nosotros</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Somos un servicio de publicacion de ofertas, bla bla blabla bla blabla bla blabla bla blabla bla blabla bla bla.</p>
      </div>
      <div class="col-lg-4">
        <p>Con nuestro servicio puedes llegar mas rapido a tus clientes potenciales. bla bla blabla bla blabla bla blabla bla blabla bla bla</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-info-circle"></i> Quieres saber mas?
        </a>
      </div>
    </div>
  </div>
</section>
