<header>
<div class="container">
  <div class="panel panel-default col-md-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>Inicia sesión</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label>Email</label>

          <input type="email" name="email" class="form-control col-xs-12 floating-label-form-group control"
                 ng-model="user.email" required placeholder="Email">
        </div>

        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control col-xs-12 floating-label-form-group control"
                 placeholder="Contraseña"
                 ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Por favor introduce tu email y contraseña.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             El email no es valido.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div class="form-group col-xs-12 controls col-lg-offset-5">
          <button class="btn btn-inverse btn-lg btn-login btn-success" type="submit">
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
</div>
</header>
