<header id="page-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default col-md-12">
          <form class="offer-form" ng-submit="addOffer()" name="offerForm">

            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Encabezado de la oferta</label>
              <input
                type="text"
                class="form-control"
                id="txtTitle"
                placeholder="Editar encabezado de la oferta"
                data-validation-required-message="Por favor introduce el encabezado de la oferta."
                value="{{newOffer.title}}"
                ng-model="newOffer.title"
                required="required"/>
            </div>

            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Detalles de la oferta</label>
              <textarea
                class="form-control"
                id="txtDetails"
                placeholder="Editar detalles de la oferta"
                data-validation-required-message="Por favor introduce detalles de la oferta"
                ng-model="newOffer.details"
                required="required">
                {{newOffer.details}}
              </textarea>
            </div>

            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Fecha de vencimiento</label>
              <input
                type='text'
                class="form-control"
                id="txtExpirationDate2"
                placeholder="Editar fecha de vencimiento"
                value="{{newOffer.expirationDate}}"
                ng-model="newOffer.expirationDate"/>
            </div>

            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Imagen de la oferta (Opcional)</label>
              <input
                type='text'
                class="form-control"
                id="txtImage"
                placeholder="URL de la imagen"
                value="{{newOffer.image}}"
                ng-model="newOffer.image"/>
            </div>

            <div class="form-group col-xs-12 controls">
              <label>Tipo de oferta (Opcional)</label>
              <select
                class="form-control"
                id="txtType"
                ng-model="newOffer.type"
                ng-options="type.id as type.description for type in types">
              </select>
            </div>

            <div class="form-group col-xs-12 controls">
              <label>Centro Comercial</label>
              <select
                class="form-control"
                id="txtMall"
                ng-options="mall as mall.name for mall in malls track by mall._id"
                ng-model="newOffer.mall"
                required="required">
              </select>
            </div>

            <div class="form-group col-xs-12 controls">
              <label>Clasifica esta oferta:</label>
              <select
                multiple="multiple"
                class="form-control"
                id="categories"
                ng-options="category.id as category.description for category in categories"
                ng-model="newOffer.categories"
                required="required">
              </select>
            </div>


            <div class="form-group col-xs-12 controls">
              <label>Publicar</label>
              <input
                id="chkActive"
                type="checkbox"
                ng-model="newOffer.active"
                >
            </div>

            <button
              type="submit"
              class="btn btn-success"
              type="submit"
              ng-disabled="offerForm.$invalid"
              value="Post">
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
//  $('#categories').multiselect();
//  $("#chkActive").bootstrapSwitch({
//    onText: "Publicar",
//    offText: "Ocultar"
//  });
</script>
