<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">





        <div ng-repeat="offer in offers" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" contenteditable="true">{{offer.title}}</h3>
          </div>
          <div class="panel-body" contenteditable="true">
            {{offer.details}}
          </div>
          <div class="panel-footer" contenteditable="true">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-info" ><span class="glyphicon glyphicon glyphicon-pencil"></span></button>
              <button type="button" class="btn btn-danger" ng-click="removeOffer(offer._id)"><span class="glyphicon glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</header>




